@"
# Secrets
.env
*.key
*.pem
secrets/

# Python
__pycache__/
*.pyc
venv/

# Node
node_modules/

# Modeles et donnees lourdes
*.pt
*.onnx
data/

# Divers
.vscode/
"@ | Set-Content .gitignore -Encoding ascii